
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
</head>

<body>
	<div class="p-3 mb-2 bg-danger-subtle text-emphasis-danger">
	<div class="container">
		<div class="p-3 mb-2 bg-danger text-white">
		<h2>Listado de ALUMNOS</h2>
		</div>
		<table class="table table-bordered border-dark">
			<thead >
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Calle</th>
				<th>Número</th>
				<th>Barrio</th>
				<th>Ciudad</th>
				<th>Localidad</th>
				<th>Código Postal</th>
				<th>DNI</th>
				<th>Fecha de Nacimiento</th>
				<th>Edad</th>
				<th>Teléfono</th>
				<th>Correo Electrónico</th>
				<th>Estado</th>
				<th>Edición</th>
			</tr>
			</thead>
			<tbody class="table-group-divider">
			<tr th:each="alumno:${listado}">
				<td th:text="${alumno.nombre}"></td>
				<td th:text="${alumno.apellido}"></td>
				<td th:text="${alumno.direccionCalle}"></td>
				<td th:text="${alumno.direccionNumero}"></td>
				<td th:text="${alumno.direccionBarrio}"></td>
				<td th:text="${alumno.direccionCiudad}"></td>
				<td th:text="${alumno.direccionLocalidad}"></td>
				<td th:text="${alumno.direccionCP}"></td>
				<td th:text="${alumno.dni}"></td>
				<td th:text="${#temporals.format(alumno.fechaNac, 'dd-MM-yyyy')}"></td>
				<td th:text="${alumno.obtenerEdad()}"></td>
				<td th:text="${alumno.telefono}"></td>
				<td th:text="${alumno.correoElectronico}"></td>
				<td th:text="${alumno.estado}"></td>
				<td><a type="button" class="btn btn-outline-danger" href="#"
					th:href="@{'/eliminarAlumno/'+${alumno.dni}}">Eliminar</a>
					<a type="button" class="btn btn-outline-danger" href="#"
					th:href="@{'/modificarAlumno/'+${alumno.dni}}">Modificar</a></td>
			</tr>
			</tbody>
		</table>
		<form>
			<a type="button" class="btn btn-danger" href="/index">Menú Inicio</a>
			<a type="button" class="btn btn-danger" href="/alumno">Alumnos</a>
			<a type="button" class="btn btn-danger" href="/docente">Docentes</a>
			<input type="button" class="btn btn-danger" value="Actualizar Página" onclick="document.location.reload();">
		</form>
	</div>
	</div>
</body>

</html>